<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{56,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,40}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>scene_block_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,48}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>scene_block_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>scene_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,68},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Flappy_Texture.png</string>
            <key>size</key>
            <string>{126,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c346799768362770a077f1cc0af963ed:36ec7eb98c2aee6284ce14f4520b4324:8744c0ece190d1c6c0b5b9813449d510$</string>
            <key>textureFileName</key>
            <string>Flappy_Texture.png</string>
        </dict>
    </dict>
</plist>
